.footer {
  background-color: var(--bg-primary);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--text-on-dark);
  border: 1px solid var(--border-on-dark);
  font-size: var(--fs-sm);
  padding: .5em 1em;
  transition: all 0.3s;
}

.footer-social-link:hover {
  color: hsl(0, 0%, 100%);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3em; 
}

.footer-link {
  text-transform: uppercase;
}

.footer-link,
.footer-tagline {
  color: hsl(0, 0%, 100%);
  font-size: var(--fs-compact);
}

.footer-link:hover,
.footer-contact-link:hover {
  color: var(--text-accent);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contact-group:not(:last-child) {
  padding-bottom: 1em;
}

.footer-contact-label {
  color: var(--text-on-dark);
  text-transform: uppercase;
  font-size: var(--fs-xs);
  letter-spacing: 0.1em;
}

.footer-contact-link {
  color: hsl(0, 0%, 100%);
  font-family: var(--font-body);

}

.footer-contact-text {
  font-size: var(--fs-compact);
  color: var(--text-on-dark);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em 0;
  border-top: 1px solid var(--border-on-dark);
}

.footer-copy,
.footer-legal-link {
  color: var(--text-on-dark);
  font-size: var(--fs-xs);
}

.footer-legal-link {
  margin-left: 2em;
}