:root {
  --header-height: 7em;
  --container-padding: 2rem;
  --padding-top: 7em;

  --bg-primary: #363636;
  --bg-secondary: #f5f5f5;
  --bg-accent: #e0b636;

  --text-primary: #363636;
  --text-large-on-white: #909090;
  --text-large-on-light: #707070;
  --text-small-on-white: #595959;
  --text-small-on-light: #525252;
  --text-on-dark: #c7c7c7;
  --text-accent: #e0b636;

  --border-primary: #363636;
  --border-secondary: #c7c7c7;
  --border-on-dark: #525252;

  --font-body: 'BDO Grotesk', sans-serif;
  --font-hero: 'Mango Grotesque', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 900;

  --fs-xs: 0.6875rem;
  --fs-sm: 0.75rem;
  --fs-compact: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;

  --fs-body: clamp(0.875rem, 0.298vw + 0.732rem, 1rem);
  --fs-hero: clamp(3.5rem, 1.9155rem + 6.7606vw, 8rem);
  --fs-eyebrow: clamp(2.5rem, 6.116vw - 0.505rem, 5rem);
  --fs-title: clamp(2rem, 3.0047vw + 1.2958rem, 4rem);
  --fs-subtitle: clamp(1.25rem, 0.563vw + 1.118rem, 1.625rem);
  --fs-subtitle-lg: clamp(1.5rem, 2.2535vw + 0.9718rem, 3rem);
}
